<%- include('partials/header') %>
<div class="container center-align" style="margin-top: 100px;">
    <i class="large material-icons orange-text">error_outline</i>
    <h2>Página No Encontrada</h2>
    <p>La ruta a la que intentas acceder no existe.</p>
    <a href="/signIn" class="btn blue">Ir al Inicio</a>
</div>
<%- include('partials/footer') %>
